@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@await Component.InvokeAsync("Banner", "register")
<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Register</h2>
                            <span>Please register using account detail bellow.</span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="login-form">
                            <form method="post">
                                <input asp-for="FullName" placeholder="Full Name">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                                <input asp-for="UserName" placeholder="Username">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                                <input asp-for="Email" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Password" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="button-box">
                                    <button type="submit" class="default-btn">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login end -->
