
@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("Banner", "our teachers")
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        @await Component.InvokeAsync("Teacher", new InvokeRequest() { Count = 12, SkipCount = ViewBag.Page })
        <div class="row">
            <div class="col-xs-12">
                <div class="pagination">
                    <ul>
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            if (ViewBag.Page == i)
                            {
                                <li><a disabled asp-action="Index" asp-route-page="@i">@i</a></li>
                            }
                            else
                            {
                                <li><a asp-action="Index" asp-route-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

