
@{
    ViewData["Title"] = "Blogs";
}

@await Component.InvokeAsync("Banner","blog")
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title" style="text-align:left;">
                    <h3>search blogs</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" id="blog-search-input" placeholder="Search..." name="search" />
                    </form>
                </div>
                <div id="blog-result"></div>
            </div>
        </div>
        @await Component.InvokeAsync("Blog", new InvokeRequest() { Count = 9, SkipCount = ViewBag.Page })
        <div class="row" id="blogPaginationBox">
            <div class="col-xs-12" id="blogPaginationId">
                <div class="pagination">
                    <ul>
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            if (ViewBag.Page == i)
                            {
                                <li><a disabled asp-action="Index" asp-route-page="@i">@i</a></li>
                            }
                            else
                            {
                                <li><a asp-action="Index" asp-route-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
